body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6fbf73;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333333;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

main {
    padding: 30px;
    background-color: white;
}.hero-image {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    background-color: #6fbf73;
    color: white;
    text-align: center;
    padding: 10px;
}